## Loading the data

In [ ]:
# importing required libraries
import pandas as pd

In [ ]:
#loading the data
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datasets/titanic_train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Missing Values

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#missing values in the data
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

- Age and Cabin have a very high number of missing values
- Embarked has very low number of missing values

## Imputing Missing Values Using central tendency

In [ ]:
# finding mean value
mean_val = data['Age'].mean()
mean_val

np.float64(29.69911764705882)

In [ ]:
# making a copy
data_cleaned = data.copy()

#imputing missing values
data_cleaned['Age'] = data['Age'].fillna(value = mean_val)
data_cleaned['Age'].isnull().sum()

np.int64(0)

In [ ]:
data['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [ ]:
mode_val = data['Embarked'].mode()[0]
mode_val

'S'

In [ ]:
data_cleaned['Embarked'] = data['Embarked'].fillna(value = mode_val)

## Dealing with Categorical Variables

In [ ]:
#Categorical variables in the data
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
categorical_cols = ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [ ]:
#number of unique values
data[categorical_cols].nunique()

Name        891
Sex           2
Ticket      681
Cabin       147
Embarked      3
dtype: int64

- Can One-hot-Encode Sex and Embarked
- Deal with them differently (extract features)
- Name, Ticket and Cabin (when encoded) will have zeros

## One-hot Encoding

In [ ]:
df2=pd.get_dummies(data['Embarked'])
df2.head().astype(int)

   C  Q  S
0  0  0  1
1  1  0  0
2  0  0  1
3  0  0  1
4  0  0  1

In [ ]:
cleaned_data = data.drop(['Name','Ticket','Cabin'], axis=1)

In [ ]:
cleaned_data

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.0,1,0,7.2500,S
1,2,1,1,female,38.0,1,0,71.2833,C
2,3,1,3,female,26.0,0,0,7.9250,S
3,4,1,1,female,35.0,1,0,53.1000,S
4,5,0,3,male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,13.0000,S
887,888,1,1,female,19.0,0,0,30.0000,S
888,889,0,3,female,NaN,1,2,23.4500,S
889,890,1,1,male,26.0,0,0,30.0000,C
890,891,0,3,male,32.0,0,0,7.7500,Q

In [ ]:
cleaned_data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [ ]:
cleaned_data = pd.get_dummies(cleaned_data)
cleaned_data.head().astype(int)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22,1,0,7,0,1,0,0,1
1,2,1,1,38,1,0,71,1,0,1,0,0
2,3,1,3,26,0,0,7,1,0,0,0,1
3,4,1,1,35,1,0,53,1,0,0,0,1
4,5,0,3,35,0,0,8,0,1,0,0,1

- SibSp and Parch hold discrete values
- We can convert them into separate columns as well

## Label Encoding

In [ ]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
## map function

data['Embarked'].map({'Q': 0, 'S': 1, 'C':2})

0      1.0
1      2.0
2      1.0
3      1.0
4      1.0
      ...
886    1.0
887    1.0
888    1.0
889    2.0
890    0.0
Name: Embarked, Length: 891, dtype: float64

In [ ]:
data['Embarked'] = data['Embarked'].map({'Q': 0, 'S': 1, 'C':2})
data['Embarked'].head()

0    1.0
1    2.0
2    1.0
3    1.0
4    1.0
Name: Embarked, dtype: float64